@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
/* line 9, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
html {
  background-color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif; }

/* fonts */
/* line 15, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
body {
  font-family: 'Dosis', sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  color: #525b5c;
  background-color: white; }

/* line 29, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.caption {
  padding: 0.2em 1em 0.2em 0.5em;
  margin: 0;
  font-weight: 400;
  background: #F2f2f2;
  font-style: italic;
  display: inline-block;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 0.9em;
  max-width: calc(100% - 10px); }
  /* line 43, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
  .caption p {
    margin: 0 !important; }

/* line 48, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
blockquote {
  margin: 2em 0; }
  /* line 51, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
  blockquote span {
    display: block;
    color: #AAA;
    font-size: 0.8em; }

/* List styling - tweaks to include images */
/* line 61, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
a.list-group-item {
  clear: both;
  width: 100%;
  overflow: hidden; }
  /* line 65, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
  a.list-group-item .list-group-item-text {
    margin-top: 1%; }
    /* line 67, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
    a.list-group-item .list-group-item-text img {
      float: left;
      margin-right: 2%;
      margin-bottom: 1%; }

/* Style pager */
/* line 76, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.col-sm-4.pages {
  text-align: center; }

/* line 80, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.col-sm-4.next {
  text-align: right; }

/* line 84, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.main {
  padding-top: 66px;
  min-height: 700px; }

/* line 89, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.carousel {
  margin-bottom: 15px; }
  /* line 91, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
  .carousel .carousel-caption {
    background-color: rgba(0, 127, 127, 0.6);
    padding-top: 0; }
    /* line 94, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
    .carousel .carousel-caption .btn {
      margin-bottom: 10px; }

/* line 100, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
p {
  text-align: justify; }
  /* line 103, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
  p:last-child {
    margin-bottom: 0; }

/* line 108, /home/vagrant/wagtaildemo/demo/static/demo/css/main.scss */
.advert-list {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 15px 0;
  background-color: white;
  border-top: 1px solid #bfbfbf; }
