{% extends "demo/base.html" %}
{% load demo_tags wagtailcore_tags wagtailimages_tags %}
{% load demo_tags static %}

{% block content %}
{% breadcrumbs %}
<div class="container">
    {% include "demo/includes/intro.html" %}
</div>

<div class="container">
    <div id="masonry-grid" class="row">
        <div class="col s12 m12 l6 item">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if self.image %}
                    {% image self.image height-250 class="activator responsive-img" %}
                    {% endif %}
                </div>

                <div class="card-content">
                    <div class="row">
                        <div class="col s6 m9 l9">
                            <h4 class="card-title activator blue-grey-text text-blue-grey lighten-1">Dettagli Evento</h4>
                            <p class="red-text text-red lighten-1"><i class="material-icons">date_range</i> {{ self.date_from }}
                                {% if self.date_to %} to {{ self.date_to }}{% endif %}</p>
                            {% if self.location %}
                            <p class="red-text text-red lighten-1"><i class="material-icons">location_on</i>Luogo:{{ self.location }}</p>{% endif %}
                        </div>

                        <div class="col s6 m3 l3 right">
                            {% if self.avatar %}
                            {% image self.avatar fill-75x75 class="circle z-depth-2 responsive-img activator card-title inner-avatar" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-reveal center">
                <span class="card-title red-text text-red lighten-1 center" style="padding-bottom:15px;">Contatti e Informazioni
                    <i class="material-icons right">close</i></span>
                    {% if self.avatar %}
                    {% image self.avatar fill-150x150 class="circle z-depth-2 responsive-img" %}
                    {% endif %}

                    {% if self.audience %}
                    <p class="center"><i class="material-icons">local_activity</i> Ingresso:
                        {# From EVENT_AUDIENCE_CHOICES in models.py #}
                        {{ self.get_audience_display }}</p>
                    {% endif %}
                    {% if self.cost %}
                    <p class="center"><i class="material-icons">shopping_cart</i> Costo: {{ self.cost|safe }}</p>
                    {% endif %}

                    {% if self.signup_link %}
                    <p class="center">Sign up: <a href="{{ self.signup_link }}">{{ self.signup_link }}</a></p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 item" style="text-align:center;">
            {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
        </div>
        <div class="col s12 m12 l6 item" style="text-align:center;">
            {% include "demo/includes/link_esterno.html" with link_esterno=self.link_esterno.all only %}
        </div>
    </div>

</div>
{% if self.body %}
<div class="container">
    {{ self.body|richtext }}
</div>
{% endif %}

{% if self.campi_dinamici %}
<div class="container ">
    <div class="container body-content">
        {% include "demo/includes/streamfield.html" with content=self.campi_dinamici %}
    </div>
    {% endif %}
</div>

<h5>Interpreti</h5>
<div class="container">
    {% include "demo/includes/interpreti.html" %}
</div>
{% include 'demo/includes/prev_next.html' %}

{% endblock %}
