
{% block content %}
<div class="container">
    <h1>Benvenuti nel Sito Web di ALL'OPERA! Associazione Culturale.</h1>
    <h1>Siamo spaicenti ma per visualizzare correttamente il nostro sito occorre aggiornare il proprio Web Browser o passare ad un altro prodotto più aggiornato!</h1>
    <h2>SUGGERIMENTI</h2>
    <li><a href="https://www.google.it/chrome/browser/desktop/index.html">Scarica Google Chrome</a></li>
    <li><a href="https://www.mozilla.org/it/firefox/new/">Scarica Mozilla Firefox</a></li>
    <li><a href="https://www.microsoft.com/en-us/download/details.aspx?id=39232">Aggiornati ad Internet Explorer 10(Windows 7)</a></li>
    <h2>CONTATTI</h2>
    <li><a href="https://www.facebook.com/All-Opera-799238796801110/?fref=ts">Contatto Facebook</a></li>
</div>
{% endblock %}
